html {
  background-color: #3E4149;
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
}

[draggable=true] {
  cursor: move;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 1em;
}

/* GUEST SECTION */
.guest-section {
  min-height: 300px;
  overflow: hidden;
  padding: 1em;
  border: 0.1em solid grey;
  border-radius: 0.5em;
  background-color:#FFC8C8;
  overflow: hidden;
}

.searchbox {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 0em 1em 0em 0em;
  padding: 0.5em 0em;
  border: 0.15em solid #FF9999;
  background-color: white;
  border-radius: 0.5em;
}

.search-txt {
  width: 90%;
  margin: 0em 0em 0em 1em;
  text-align: left;
  border: none;
  color:  #3b3b3b;
}

.search-btn {
  margin: 0em .5em;
  border: none;
  background-color: white;
}

.fa-search {
  color: #FF9999;
}

.btn {
  font-weight: bold;
  background-color: #FF9999;
  padding: 0.5em;
  border: 0.15em solid white;
  border-radius: 0.5em;
  color: white;
}

.guest-menu {
  
  width: 100%;
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}

.add-guest {
  width: 30%;
  margin: 0em;
  /* justify-content: flex-end; */
}

.guest-list-header {
  padding: 1em 0em;
  font-weight: bold;
  font-size: 1.2em;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr;
  color: white;
  border-radius: 0.5em;
  background-color:#FF9999;
}

.list-item {
  justify-self: center;
}


.guest-list {
  height: 100%;
  min-height: 250px;
  max-height: 250px;
  border: 0.1em solid #FF9999;
  border-radius: 0.5em;
  background-color: #FF9999;
  margin: 1em 0em;
  overflow-y: scroll;
}

.guest {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr;
  background-color: white;
  border: 0.1em solid white;
  border-radius: 0.5em;
  margin: 0.8em;
  text-align: center;
  color: #444F5A
}

.toggle input[type="radio"] {
  display: none;
}

.assign-btns {
  padding: 1em 0em;
}

.assign-btns input[type="radio"]{
  display: none;
}

.assign-btns input:checked + span {
  background-color:#404040;
  color:#F7F7F7;
}

/* TABLE SECTION */
.table-section {
  padding: 1em;
  min-height: 300px;
  margin: 0;
  border: .1em solid grey;
  border-radius: .5em;
  background-color: #FFC8C8;
  overflow: hidden;
}

.btn-add-table {
  margin-bottom: .2em;
}

.table-container {
  box-sizing: border-box;
  height: 250px;
  overflow-y: scroll;
}

.table {
  box-sizing: border-box;
  min-height: 200px;
  height: 96%;
  width: 96%;
  background-color: #FF9999;
  margin: 0em 0em .9em 0em;
  border: .15em solid white;
  border-radius: .5em; 
}

.table-body {
  height: 93%;
  width: 99%;
  border-radius: .5em;
  background-color: #FF9999;
}

.table-name {
  background-color: white;
  margin: 0em;
  padding: .5em;
  color: #FF9999;
  font-size: 1.2em;
}

.table-select {
  background-color: antiquewhite;
  color: antiquewhite
}


/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal h3 {
  margin: 0;
  font-size: 2em;
  color: #3b3b3b;
  border-bottom: .1em solid #FF9999;
}

.modal .btn {
  font-size: 1.5em;
  padding: .5em;
}

.form-input {
  margin: 0;
}

.form-text {
  margin: 0em;
  padding: 0.5em;
}

.numerical-textbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.form-input-numbers {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.modal-content {
  border-radius: 0.5em;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 1.5em;
  border: 1px solid #888;
  width: 70%;
}

.form-text {
  width: 95%;
  margin: auto;
  padding: .5em;
  border: 0.15em solid #FF9999;
  background-color: white;
  border-radius: 0.5em;
}

#input-adults, #input-babies, #input-highchair {
  width: 50%;
  margin: 0;
}

.label {
  color: #3b3b3b;
  font-size: 1.5em;
}

p.label {
  margin: .5em 0em .2em 0em;
}

.close-btn {
  margin: 0;
  color: #aaa;
  display: block;
  font-size: 3em;
  font-weight: bold;
  width: 2%;
}

.close-btn:hover, .close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {

}

@media only screen and (min-width: 961px) {
  .table {
    min-width: 400px;
    min-height: 240px;
    max-height: 300px;
    /* margin: 1em 1em 1em 0em; */
  }

  .section {
    min-height: 900px;
    height: 100%;
  }

  .guest-section {
    box-sizing: border-box;
    min-height: 600px;
    width: 30%;
    padding: 1em;
    margin-right: 1em;
  }

  .guest-list {
    border-radius: 0.5em;
    background-color: #FF9999;
    margin: 1em 0em;
    min-height: 600px;
    height: 70%;
  }

  .container {
    height: 100%;
    width: 100%;
    flex-direction: row;
    margin: 1em;
  }

  .modal .form-text {
    margin: 0;
    width: 50%;
  }
  
  .numerical-textbox {
    width: 50%;
  }

  .label {
    margin: .5em 0;
  }

  #input-adults, #input-babies, #input-highchair {
    height: 1.25em;
    padding: .5em;
  }

  .table-section {
    min-height: 800px;
    height: 70%;
    padding: 1rem;
    margin-right: 1em;
  }

  .btn-add-table {
    margin: 0 5rem 1rem 0;
  }
  .table-container {
    min-height: 750px;
    /* max-height: 550px; */
    max-width: 1300px;
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: repeat(3,1fr);
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
}